body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* background-image: url("hero\ image.png"); */
padding-bottom: 500px;
}
.container {
  margin: 0px 166px;
}
.header {
  background-image: url("hero\ image.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-line-menu {
  display: flex;
  align-items: center;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color linear 0.3s;
}
.nav-item:hover {
  color: #d81d1d;
}
.cart {
  position: relative;

  height: 50px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  margin-right: 22px;
}
.cart-img {
  position: absolute;
  top: 20px;
}
.num {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color linear 0.3s;
}
.num:hover {
  color: #d81d1d;
  transition: color linear 0.3s;
}
.btn {
  margin-left: 45px;
  transition: color linear 0.3s;
  background-color: #ff7400;
  padding: 14px 18px;
}
.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.phone-holder {
  display: flex;
  align-items: center;
}
.phone-img {
  margin-right: 8px;
  margin-top: 2px;
}
.button {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color linear 0.3s;
}
.btn:hover .button {
  color: #d81d1d;
}
.btn:hover {
  background-color: #ebf3ed;
}
.header-down {
  display: flex;
  align-items: center;
  height: calc(100vh - 120px);
}  
.header-title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  color: #d67e35;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-subtitle {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;

  color: #d67e35;
}
.header-secondary-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 12px;
  color: #ffffff;
  position: relative;
}
.header-secondary-subtitle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: #fff;
  top: 50%;
  margin-left: 10px;
}
.header-secondary-subtitle::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: #fff;
  top: 50%;
  margin-left: calc(-70px);
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin-top: 21px;
  transition: color linear 0.3s;
  background-color: #ff7400;
  padding: 14px 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
}
.header-button {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color linear 0.3s;
  font-size: 14px; 

}
.header-btn:hover .header-button {
  color: #d81d1d;
}
.header-btn:hover {
  background-color: #ebf3ed;
}
.menu-options {
  display: flex;
  justify-content: space-between;
  margin-top: -130px;
}
.menu-option-card{
  padding: 35px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
background-color: #fff;
display: flex;
flex-direction: column;
align-items: center;
width: 330px;
margin: 0 15px;

}
.card-title {
  font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
color: #2C2C2C;
}
.card-title .gold-label{
  color: #BC9060;
}
.card-description {
  font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #656363;
margin-top: 20px;
}